body {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
* {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
html {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

ion-input {
  margin-top: 0.3em;
  margin-bottom: 1em;
  border-radius: 5px !important;
  box-shadow: 2px 7px 10px #00000046;
}

button {
  background-color: red;
  padding: 1em;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 7px 10px #00000046;
  &:hover {
    transform: scale(0.9) !important;
    font-weight: 600;
    box-shadow: 1px 4px 10px #00000046;
    cursor: pointer;
    transition-duration: 0.5s;
    }
}

#fascyo {
  background-color: #121212;
  transform: rotate(20deg);
  height: 100vh;
  width: 50px;
  right: 400px;
  top: 0%;
  padding-bottom: 2em;
  // border: 8px solid white;
  // border-style: double;

  position: fixed;
  bottom: 0;
  right: 400px;
}

// MEDIAQUERY
@media only screen and (max-width: 1192px) {
  #fascyo {
    display: none;
  }
}

